{% extends "layout.html" %}

{% block content %}
<div class="container">
<div class="row justify-content-center">
<div class="col-md-8">

  {% with errors = get_flashed_messages(category_filter=["AC"]) %}
  {% if errors %}
    {% for msg in errors %}
      <div class="alert alert-success" role="alert"> {{ msg }} </div>
    {% endfor %}
  {% endif %}
  {% endwith %}

  {% with errors = get_flashed_messages(category_filter=["WA"]) %}
  {% if errors %}
    {% for msg in errors %}
      <div class="alert alert-danger" role="alert"> {{ msg }} </div>
    {% endfor %}
  {% endif %}
  {% endwith %}

<div class="card">
  <div class="card-header"> <h5 class="text-center my-1"> <strong>Notificaciones </strong> </h5>  </div>
  <div class="card-body">

    <div class="alert alert-danger my-2" role="alert">
		  El componente <strong>x</strong> con ID: <strong>y</strong> tiene una cantidad menor a su limite minimo. Tiene un tiempo de entrega de: <strong>z</strong>
		</div>

		<div class="alert alert-warning my-2" role="alert">
		  El componente <strong>x</strong> con ID: <strong>y</strong> tiene una cantidad menor a su limite minimo. Tiene un tiempo de entrega de: <strong>z</strong>
		</div>

		<div class="alert alert-success my-2" role="alert">
		  El componente <strong>x</strong> con ID: <strong>y</strong> tiene una cantidad menor a su limite minimo. Tiene un tiempo de entrega de: <strong>z</strong>
		</div>

  </div>
</div>
</div>
</div>
</div>
{% endblock %}