{% extends "layout.html" %}

{% block content %}
<div class="container">
<div class="row justify-content-center">
<div class="col-md-8">

  {% with errors = get_flashed_messages(category_filter=["AC"]) %}
  {% if errors %}
    {% for msg in errors %}
      <div class="alert alert-success" role="alert"> {{ msg }} </div>
    {% endfor %}
  {% endif %}
  {% endwith %}

  {% with errors = get_flashed_messages(category_filter=["WA"]) %}
  {% if errors %}
    {% for msg in errors %}
      <div class="alert alert-danger" role="alert"> {{ msg }} </div>
    {% endfor %}
  {% endif %}
  {% endwith %}

<div class="card">
  <div class="card-header"> <h5 class="text-center my-1"> <strong>Notificaciones </strong> </h5>  </div>
  <div class="card-body">
    {% for value in dataComponent %}
      {% if value.currentStock < value.minimumStock %}
        {% if value.priority == 1 %}
          <div class="alert alert-danger my-2" role="alert">
      		  El componente <strong> {{value.nameComponent}}</strong> perteneciente a la maquina <strong>{{value.machine.nameMachine}}</strong> tiene una cantidad menor a su limite minimo.
      		</div>
        {% elif value.priority == 2 %}
      		<div class="alert alert-warning my-2" role="alert">
      		  El componente <strong> {{value.nameComponent}}</strong> perteneciente a la maquina <strong>{{value.machine.nameMachine}}</strong> tiene una cantidad menor a su limite minimo.
      		</div>
        {% elif value.priority == 3 %}
      		<div class="alert alert-success my-2" role="alert">
      		  El componente <strong> {{value.nameComponent}}</strong> perteneciente a la maquina <strong>{{value.machine.nameMachine}}</strong> tiene una cantidad menor a su limite minimo.
      		</div>
        {% endif %}
      {% endif %}
    {% endfor %}
  </div>
</div>
</div>
</div>
</div>
{% endblock %}