{% extends "layout.html" %}

{% block content %}
<div class="container">
<div class="row justify-content-center">
<div class="col-md-8">
  <div class="alert alert-success" role="alert">
     df
  </div>

  <div class="alert alert-danger" role="alert">
     sdf
  </div>
<div class="card">
  <div class="card-header"> <h5 class="text-center my-1"> <strong>Notificaciones </strong> </h5>  </div>
  <div class="card-body">

    <div class="alert alert-danger my-2" role="alert">
		  El componente <strong>x</strong> con ID: <strong>y</strong> tiene una cantidad menor a su limite minimo. Tiene un tiempo de entrega de: <strong>z</strong>
		</div>

		<div class="alert alert-warning my-2" role="alert">
		  El componente <strong>x</strong> con ID: <strong>y</strong> tiene una cantidad menor a su limite minimo. Tiene un tiempo de entrega de: <strong>z</strong>
		</div>

		<div class="alert alert-success my-2" role="alert">
		  El componente <strong>x</strong> con ID: <strong>y</strong> tiene una cantidad menor a su limite minimo. Tiene un tiempo de entrega de: <strong>z</strong>
		</div>

  </div>
</div>
</div>
</div>
</div>
{% endblock %}