{% extends "layout.html" %}

{% block content %}
<div class="container">
<div class="row justify-content-center">
<div class="col-md-8">
<div class="card">
<div class="card-header">  Ingreso al sistema  </div>

<div class="card-body">
  <form method="POST" action="{{url_for('loginRoute')}}">
    {{ form.csrf_token }}
    <div class="form-group row py-3">
      {{ form.username.label(class="col-md-4 col-form-label text-md-end")}} 
      <div class="col-md-6">
      {% if form.username.errors %}
        {{ form.username(class="form-control is-invalid", autofocus=True) }} 
        {% for error in form.username.errors %}
        <span class="invalid-feedback" role="alert">
          <strong>{{ error }}</strong>
        </span>
        {% endfor %}
      {% else %}
        {{ form.username(class="form-control", autofocus=True) }} 
      {% endif %}
      </div>
    </div>

    <div class="form-group row pb-3">
      {{ form.password.label(class="col-md-4 col-form-label text-md-end")}} 
      <div class="col-md-6">
        {% if form.password.errors %}
          {{ form.password(class="form-control is-invalid") }} 
          {% for error in form.password.errors %}
          <div class="invalid-feedback">
            <strong>{{ error }}</strong>
          </div>
          {% endfor %}
        {% else %}
          {{ form.password(class="form-control") }} 
        {% endif %}
      </div>
    </div>
    <div class="form-group row mb-0 justify-content-center">
      <button type="submit" class="btn btn-primary col-auto"> Ingresar </button>
    </div>
  </form>
</div>
</div>
</div>
</div>
</div>
{% endblock %}