{% extends "layout.html" %}

{% block content %}
<div class="container">
<div class="row justify-content-center">
<div class="col-md-8">

  {% with errors = get_flashed_messages(category_filter=["AC"]) %}
  {% if errors %}
    {% for msg in errors %}
      <div class="alert alert-success" role="alert"> {{ msg }} </div>
    {% endfor %}
  {% endif %}
  {% endwith %}

  {% with errors = get_flashed_messages(category_filter=["WA"]) %}
  {% if errors %}
    {% for msg in errors %}
      <div class="alert alert-danger" role="alert"> {{ msg }} </div>
    {% endfor %}
  {% endif %}
  {% endwith %}

<div class="card">
<div class="card-header" id="ver-maquina"> Actualizar maquina </div>
  <div class="card-body">
    <form method="POST" action="{{url_for('updateMachineRoute')}}" id="form-update-machine">
    {{ form.csrf_token }}
      <div class="form-group row py-2">
        <label for="codeMachine" class="col-md-4 col-form-label text-md-end"> Seleccionar maquina </label>
        <div class="col-md-6">
          <select id="codeMachine" class="form-control" name="codeMachine">
            {% for value in data %}
              <option value="{{value.id}}"> {{value.nameMachine}} </option>
            {% endfor %}
          </select>
        </div>
      </div>

      <div class="form-group row py-2">
        {{ form.nameMachine.label(class="col-md-4 col-form-label text-md-end")}}
        <div class="col-md-6">

        {% if form.nameMachine.errors %}
          {{ form.nameMachine(class="form-control is-invalid") }} 
          {% for error in form.nameMachine.errors %}
          <span class="invalid-feedback" role="alert">
            <strong>{{ error }}</strong>
          </span>
          {% endfor %}
        {% else %}
          {{ form.nameMachine(class="form-control") }} 
        {% endif %}
        </div>
      </div>

      <div class="form-group row py-2">
        {{ form.descriptionMachine.label(class="col-md-4 col-form-label text-md-end")}}
        <div class="col-md-6">
          {% if form.descriptionMachine.errors %}
            {{ form.descriptionMachine(class="form-control is-invalid") }} 
            {% for error in form.descriptionMachine.errors %}
            <span class="invalid-feedback" role="alert">
              <strong>{{ error }}</strong>
            </span>
            {% endfor %}
          {% else %}
            {{ form.descriptionMachine(class="form-control") }} 
          {% endif %}
        </div>
      </div>

      <div class="form-group row my-2">
        <div class="text-center">
          <button type="submit" class="btn btn-primary"> Actualizar Maquina </button>
        </div>
      </div>
    </form>
  </div>
</div>
</div>
</div>
</div>
{% endblock %}